html {
  height: 100%;
  width: 100%;
}

.wm {
    color: #740606;
    text-align: center;
  }
  
  .not {
    color: #3da43d;
    text-align: center;
  }
  
  .shr {
    color: #ffae00;
    text-align: center;
  }
  
  .box1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 10px;
  }

  .box1 > a {
    border: 1px solid black;
  }

  .box2 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    flex-wrap: wrap;
  }

  .box3 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    padding-left: 10px;
    flex-wrap: wrap;
  }

  .box4 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    flex-wrap: wrap;
  }

  .box5 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    padding-left: 10px;
    flex-wrap: wrap;
  }

  .box6 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    flex-wrap: wrap;
  }

  .box7 {
    border: 1px solid black;
    margin: 10px;
    padding: 30px;
    padding-left: 10px;
    flex-wrap: wrap;
  }

  .minibox1 {
    border: 1px dashed black;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
  }

  .minibox2 {
    border: 1px dashed black;
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
  }

  .imagebox1 {
    border: 1px solid black;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
  }

  .imagebox2 {
    border: 1px solid black;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
  }

  .imagebox3 {
    border: 1px solid black;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
  }

  /* maybe should be in .box1?
    margin: 20px;
    padding: 30px;
    padding-top: 30px; */